body {

    background-color:white;
}
 li{
    font-size: 20px;
    color:red;
}
table ,td,tr,th{
    border:1px solid black;
    border-collapse: collapse;
    width:25%
}
th,td{
    text-align:left;
    padding:8px;
}
th{
    background-color:blue;
    color:brown;
}
tr:nth-child(even){
    background-color: greenyellow;
}